name: Test

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJSON(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: Dump GitHub commits
        env:
          GITHUB_CONTEXT: ${{ toJSON(github.event.commits) }}
        run: echo "$GITHUB_CONTEXT"
      - name: Skip
        if: contains(github.event.commits[0].message, '[skip tests]') == false
        run: echo Skip
      - name: Don't skip
        run: echo Don\'t skip
